/* Sidebar Styles */
.sidebar {
  width: 0;
  overflow: hidden;
  transition: width .3s cubic-bezier(.4,0,.2,1);
  background: var(--color-background-primary);
  border-left: 1px solid var(--color-border-tertiary);
  position: relative;
  height: 100%;
  flex-shrink: 0;
}

.sidebar.open {
  width: 300px;
}


/* Panel Styles */
.panel {
  position: absolute;
  inset: 0;
  width: 300px;
  transform: translateX(100%);
  transition: transform .3s cubic-bezier(.4,0,.2,1);
  overflow-y: auto;
  padding: 1rem;
}

.panel.active {
  transform: translateX(0);
}


/* Login Background Styles */
.bg-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.5;
}


/* Theme-dependent Button Styles */
[data-bs-theme="dark"] .theme-btn {
  --bs-btn-bg: #212529;
  --bs-btn-border-color: #495057;
  --bs-btn-color: white;
  --bs-btn-hover-bg: #343a40;
  --bs-btn-hover-border-color: #6c757d;
  --bs-btn-hover-color: white;
}


/* Google Maps Info Window Styles */
[data-bs-theme="dark"] .gm-style .gm-style-iw-c button {
  filter: invert(1);
}